<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Website</title>
    <style>
        .container{
           display:grid;
           grid-template-columns:repeat(3, 1fr) ;
           grid-template-rows:repeat(3, 1fr);
           grid-gap: 10px;
        }
        .food{
           
            border: 2px solid burlywood;
            border-radius: 10px;
            padding: 15px;

            width: ;
            height: ,
        }
    img{
        width: 50%;

    }
@media  screen and (max-width: 576px){
    .food {
        flex-direction: column;
     }
}
    </style>
</head>
<body>
    <div class="container">
        <div class="food">
            <img src="./food.jpg" alt="">
            <h2 class="item">100</h2>
            <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam commodi quidem fuga maiores. Minima molestiae dolorum ab ducimus ipsum asperiores in, id fugiat iure. Ducimus facere sapiente cumque. Porro, voluptates.</P>
            <button>Order Now</button>
        </div>
        <div class="food">
            <img src="./food.jpg" alt="">
            <h2  class="item">200</h2>
            <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam commodi quidem fuga maiores. Minima molestiae dolorum ab ducimus ipsum asperiores in, id fugiat iure. Ducimus facere sapiente cumque. Porro, voluptates.</P>
            <button>Order Now</button>
        </div>
        <div class="food">
            <img src="./food.jpg" alt="">
            <h2 class="item">300</h2>
            <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam commodi quidem fuga maiores. Minima molestiae dolorum ab ducimus ipsum asperiores in, id fugiat iure. Ducimus facere sapiente cumque. Porro, voluptates.</P>
            <button>Order Now</button>
        </div>
        <div class="food">
            <img src="./food.jpg" alt="">
            <h2 class="item">400</h2>
            <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam commodi quidem fuga maiores. Minima molestiae dolorum ab ducimus ipsum asperiores in, id fugiat iure. Ducimus facere sapiente cumque. Porro, voluptates.</P>
            <button>Order Now</button>
        </div>
        <div class="food">
            <img src="./food.jpg" alt="">
            <h2 class="item">500</h2>
            <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam commodi quidem fuga maiores. Minima molestiae dolorum ab ducimus ipsum asperiores in, id fugiat iure. Ducimus facere sapiente cumque. Porro, voluptates.</P>
            <button>Order Now</button>
        </div>
        <div class="food">
            <img src="./food.jpg" alt="">
            <h2 class="item">600</h2>
            <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam commodi quidem fuga maiores. Minima molestiae dolorum ab ducimus ipsum asperiores in, id fugiat iure. Ducimus facere sapiente cumque. Porro, voluptates.</P>
            <button>Order Now</button>
        </div>
        <div class="food">
            <img src="./food.jpg" alt="">
            <h2 class="item">700</h2>
            <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam commodi quidem fuga maiores. Minima molestiae dolorum ab ducimus ipsum asperiores in, id fugiat iure. Ducimus facere sapiente cumque. Porro, voluptates.</P>
            <button>Order Now</button>
        </div>
        <div class="food">
            <img src="./food.jpg" alt="">
            <h2 class="item">800</h2>
            <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam commodi quidem fuga maiores. Minima molestiae dolorum ab ducimus ipsum asperiores in, id fugiat iure. Ducimus facere sapiente cumque. Porro, voluptates.</P>
            <button>Order Now</button>
        </div>
        <div class="food">
            <img src="./food.jpg" alt="">
            <h2 class="item">900</h2>
            <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam commodi quidem fuga maiores. Minima molestiae dolorum ab ducimus ipsum asperiores in, id fugiat iure. Ducimus facere sapiente cumque. Porro, voluptates.</P>
            <button>Order Now</button>
        </div>
        <div class="food">
            <img src="./food.jpg" alt="">
            <h2 class="item">1000</h2>
            <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam commodi quidem fuga maiores. Minima molestiae dolorum ab ducimus ipsum asperiores in, id fugiat iure. Ducimus facere sapiente cumque. Porro, voluptates.</P>
            <button>Order Now</button>
        </div>
        <div class="food">
            <img src="./food.jpg" alt="">
            <h2 class="item">1100</h2>
            <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam commodi quidem fuga maiores. Minima molestiae dolorum ab ducimus ipsum asperiores in, id fugiat iure. Ducimus facere sapiente cumque. Porro, voluptates.</P>
            <button>Order Now</button>
        </div>
        <div class="food">
            <img src="./food.jpg" alt="">
            <h2 class="item">1200</h2>
            <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam commodi quidem fuga maiores. Minima molestiae dolorum ab ducimus ipsum asperiores in, id fugiat iure. Ducimus facere sapiente cumque. Porro, voluptates.</P>
            <button>Order Now</button>
        </div>
    </div>
</body>
</html>